.sign-in-card {
  max-width: 400px;
  width: 95%;
  max-height: 400px;
  margin: 10% auto auto;
}

.form-input {
  width: 100%;
}

.logo {
  display: flex;
  justify-content: center;
  color: crimson;
}
