<mat-card class="sign-in-card">
  <mat-card-header class="logo">
    <mat-card-title>May One</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field class="form-input" appearance="outline">
        <input matInput placeholder="email" type="email" name="email" [(ngModel)]="email">
      </mat-form-field>
      <br/>
      <mat-form-field class="form-input" appearance="outline">
        <input matInput placeholder="password" type="password" name="password" [(ngModel)]="password"
               (keyup.enter)="onLogin()">
      </mat-form-field>

    </form>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="primary" type="submit" (click)="onLogin()">Sign in</button>
  </mat-card-actions>
  <ngb-alert [dismissible]="true" type='danger' *ngIf="invalidCredentials" (closed)="close()">
    The email or password is invalid
  </ngb-alert>
</mat-card>
